* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --text-preset-1: .text-preset-1;
}

.text-preset-1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

body {
  padding: var(--spacing-1600) var(--spacing-600);
  display: flex;
  justify-content: center;
  background-color: var(--stone-100);
}

.card {
  padding: var(--spacing-500);
  width: 736px;
  background-color: var(--white);
  border-radius: var(--spacing-300);

  img {
    width: auto;
    height: 300px;
    border-radius: 12px;
    margin-bottom: var(--spacing-500);
  }

  h1 {
    color: var(--stone-900);
  }

  p {
    color: var(--stone-600);
  }

  span {
    font-weight: 700;
  }

  h2 {
    color: var(--rose-800);
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  li {
    color: var(--stone-600);
    list-style-position: inside;
  }

  ol li::marker,
  ul li::marker {
    color: var(--brown-800);
  }

  h3 {
    color: var(--brown-800);
  }

  hr {
    border: 1px solid var(--stone-150);
  }

  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);

    .tr {
      display: flex;
      padding-left: var(--spacing-300);
      gap: var(--spacing-200);
    }

    .th {
      color: var(--stone-600);
      font-weight: 400;
    }

    .td {
      color: var(--brown-800);
      font-weight: 700;
    }
    .th,
    .td {
      width: 288px;
    }
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.preparation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-300);
  background-color: var(--rose-50);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
